<legend>Výběr otázky</legend>

<% if @questions.nil? %>
  <h3>Litujeme, momentálně nejsou k dispozici žádne otázky. Vraťte se prosím pozděj.</h3>
<% else %>
  <ul>
    <% @questions.each do |question| %>
      <li>
        <strong>
          <%= truncate(question.title, length: 150, separator: ' ') %>
        </strong>
        <div class="buttons">
           <%= label_tag "question_id_#{question.id}", 'Vybrat' %> <%= radio_button_tag "question_id", question.id %>
        </div>
      </li>
    <% end %>
  </ul>
<% end %>