<section id="elections-detail">
  <h2><%= @election.election_type.name + ' ' + @election.held.strftime('%Y') %></h2>
  <p><%= @election.description %></p>
  <% if @election.subjects.any? %>
  <ul>
    <% @election.subjects.each do |subject| %>
      <% if subject.subtype == "Refinery::Parties::Party" %>
        <li><%= link_to subject.name, subject %></li>
      <% end %>

      <% if subject.subtype == "Refinery::Politicians::Politician" %>
        <li><%= link_to subject.firstname + ' ' + subject.lastname, subject %></li>
      <% end %>
    <% end %>
  </ul>
  <% end %>
</section>