<% @questions.each do |question| %>
  <% if question.subject.subtype == 'Refinery::Politicians::Politician' %>
    <% @name = "#{question.subject.firstname} #{question.subject.lastname}" %>
  <% else %>
    <% @name = question.subject.name %>
  <% end %>
  <li class="<%= 'active' if question.id == params[:id].to_i %>"><%= link_to "#{@name}: #{question.title}", "/map/citizens/#{question.id}/" %></li>
<% end %>