<div class="container">
  <div class="row">
    <div class="span9">
      <%= link_to(image_tag('cplogo_small.png', alt: 'Logo Česká prezidentka'), 'http://www.ceska-prezidentka.cz/', title: 'Česká prezidentka') %>
      <%= link_to(image_tag('logo_osf_small.png', alt: 'Logo Open society fund Praha'), 'http://www.osf.cz/', title: 'Open society fund Praha') %>
      <section id="copyright">
        <span>&copy; 2012 Strategické otázky pro ČR<br>
          Pod Kesnerkou 39, Praha 150 00<br>
          <a href="mailto:otazkyprocr@ceska-prezidentka.cz">otazkyprocr@ceska-prezidentka.cz</a></span>
      </section>
    </div>

    <div class="span3">
      <ul id="links">
        <li><a href="#">Link 1</a></li> |
        <li><a href="#">Link 2</a></li> |
        <li><a href="#">Link 3</a></li> |
        <li><a href="#">Link 4</a></li>
      </ul>
    </div>
  </div>
</div>