/* main stylesheet for Project Name */


/* ******************** general ******************** */
html{
  background-color: blue;
  height:100%;
}


body{
  background-color: #D1EEFF!important;
  /*background-color: #BFE8FF!important;
  background-color: #6BB5FF!important;
  background-color: #FFF2D8!important;*/
  position: relative;
  height: auto;  
  line-height: 22px!important;
  height: auto;
}

#wrapper{
  position: relative;
  padding: 0px 20px;
  background-color: white;
  box-shadow: 0 0 5px black;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

section .container {
  padding: 20px 0px;
  border-bottom: 1px solid #E5E5E5;  
}


body li{
  list-style-type: none;
}


body a{
  color: black;
}


body a:hover {
  text-decoration: none;
}

ul#nav-links {
  position: absolute;
  right: 0px;
  top: 8px;
  margin-top: 0;
}

h1#logo {
  padding-top: 48px;
}

section h1,
section h2,
section h3,
section h4,
section h5{
  color: #1873A0;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 10px;
}


section p{
  font-size: 14px;
  color: #5E5E5E;
  text-align: justify;
  text-indent: 20px;
  /*display: inline;*/
  
}

div.alert {
  text-align: center;
}

section img{
  border-radius: 5px;
  padding: 3px;
  border: 1px solid #CCCCCC;
  box-shadow: 0px 0px 2px #CCCCCC;
}


.left{
  float: left;
  margin: 10px 10px 10px 0px;
}


.right{
  float: right;
  margin: 10px 0px 10px 10px;
}


section ul,
section ol{
  width: 80%;
  margin: 0px;
}


section ul li a {
  width: 100%;
}


/* ******************** forms styles ******************** */

body form label.control-label{
  font-weight: bold;
}


body form legend{
  text-align: center;
}


#loginForm button{
  display: block;
  margin:auto;
}

#loginForm a{
  margin: 0px;
  display: inline-block;
}

/* ******************** header ******************** */
header{
  /*background-color: #1873A0;*/
}

header .span3 img{
  margin: 20px 0px;
}

header #topmenu ul li{
  display: inline;
  margin: 0px 5px;
}

header #topmenu ul li a{
  font-size: 12px;  
  padding: 2px 7px;
}

body .navbar-inner {
  background-image: none;
  background-color: white;
  box-shadow: none;
}

body .navbar .nav > li > a{
  color: black;
  text-shadow: 0 0 0 white;
  padding: 2px 10px 3px;
  font-size: 14px;
}

body .navbar .nav > li > a:hover{
  background-color: #0068CC;
  border-radius: 5px;

}

/* ******************** primary_content  ******************** */

body .content_holder{
  padding: 5px 20px 20px;
  /*border: 1px solid #EBEBEB;*/
}



/* ******************** secondary_content  ******************** */
/*body #secondary_content .content_holder{
  height: 200px;
  min-height: 250px;
}*/

body #secondary_content img{
  display: block;
  margin: auto;

}


/* ******************** footer ******************** */
footer .container{
  margin-top:15px;
  padding-bottom:15px;
  padding-top: 15px;
  font-size: 10px;
}


footer img{
  margin: 0px 10px 10px 0px;
}


footer ul{
  margin-top: 10px;
}


footer li{
  display: inline-block;
}


footer li a{
  color: #000000;
  font-weight: bold;
  padding: 0px 3px;
}


footer li a:hover{
  color: #003F7F;
  font-weight: bold;
  padding: 0px 3px;
  text-decoration: underline;
}


footer p{
  color: black;
  margin: 0px;
  line-height: 14px;  
  }