.clear {
    clear: both;
}

span.fieldWithErrors {
    font-size: 12px;
    color: #B94A48;
}

a {
    color: #052682;
    text-decoration: none;

    &:visited {
        color: #334D97;
    }

    &:hover, &:active {
        color: #610163;
        text-decoration: none;
    }
}

#main-content {
    a {
        text-decoration: underline;

        &:hover, &:active {        
            text-decoration: none;
        }
    }

    a.btn {
        color: white;
        text-decoration: none;
    }  
}

h1 {
    color: #5d0101;
}

h2, h3 {
    font-family: arial;
    color: #A23233;
}

h4, h5, h6 {
    font-family: arial;
}

body {
    padding-top: 40px;
    background-color: #D1EEFF;

    h1, h2, h3, h4 {
        margin-top: 0;
    }

    #wrapper {
        width: 940px;
        padding: 0 30px 0 30px;                
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
        background-color: #FFF;

        header {
            padding: 40px 0;
            margin-bottom: 20px;
            border-bottom: 1px solid #EBEBEB;
        }

        section#flash-messages div.alert {
            margin: 0;
        }

        #holder {
            margin-top: 20px;
            padding-bottom: 40px;
        }
    }
}

#left-column {
    li.nav-header {
        color: #5d0101;
    }

    ul.nav li a {
        text-decoration: none;
    }
}

#questions-list {
    position: relative;
    padding-bottom: 47px;
    margin-bottom: 20px;
    border-bottom: 1px dotted #CCCCCC;

    a {
        text-decoration: none;

        &.carousel-control {
            top: 110px;
        }

        &#prev {
            left: -16px;
        }

        &#next {
            right: -16px;
        }
    }
}

#carousel {    

    .carousel-item {
        float: left;
        position: relative;
        width: 218px;
        height: 260px;        
        margin-right: 20px;
        border: 1px solid #D1EEFF;
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.05) inset;

        &:hover {            
            border: 1px solid #9696FF;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.25) inset;
        }

        img {
            z-index: 1;
        }

        a.block-link {
            display: inline-block;
            border: none;
            height: 230px;
            padding: 20px 9px;
        }

        div {
            position: absolute;
            right: 0px;
            z-index: 1000;            
            color: white;
            width: 100%;

            h5, a {
                margin-right: 6px;
                margin-left: 6px;
            }

            a {
                margin-bottom: 9px;
            }


            &.carousel-question-links {
                bottom: 0;                
            }
        }
    }
}

footer {
    padding-top: 40px;
    line-height: 14px;

    img {
        margin-right: 20px;
    }

    #copyright {
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 11px;
    }

    ul#links {
        list-style-type: none;        

        li {
            display: inline;

            a {
                font-size: 11px;
                text-decoration: none;
            }
        }
    }
}

#main-content {

    table {
        
        th {
            text-align: center;
        }
    }

    form {

        .help-block {
            font-size: 12px;
        }

        textarea#question-head {
            width: 600px;
        }

        textarea.tinymce {
            width: 100%;
        }

        div.buttons {

            label {
                display: inline-block;
            }
        }
    }
}