body {
	line-height: 16px;
}

h1, h2, h3{
	color: #147AE0;	
}

#header {
	margin-top: 32px;
	margin-bottom: 32px;
}

#top-menu {
	margin-bottom: 48px;
}

#infoHead{
	padding: 5px;
	position: fixed;
	top: -200px;
	left: -200px;
	background-color: rgba(0,0,0,0.7);
	border: 1px solid black;
	border-radius: 5px;
	color: white;
}

#infoHead p{
	color: white;
	margin: 0px;
	padding: 0px 0px;
}

ul li.headline {
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	background-color: #eee;
}

ul li.active a {
	font-weight: bold;
}