// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

article.question {
  ul, ol {
    margin-bottom: 9px;
    padding-left: 48px;

    li {
      list-style-type: inherit;
    }
  }
  
  ul {
    list-style-type: circle;
  }
  
  ol {
    list-style-type: decimal;
  }
}