<ul class="nav nav-list well">
    <li class="nav-header">Typy voleb</li>
    <% @elections.each do |election| %>
        <li><%= link_to election.election_type.name + ' ' + election.held.strftime('%Y'), election %></li>
    <% end %>    
    <li class="divider"></li>

    <li class="nav-header">Statistiky</li>
    <li><a href="#">Mapa</a></li>
    <li><a href="#">Číselné statistiky</a></li>
    <li class="divider"></li>
    <li class="nav-header">Výsledky</li>
    <li class="disabled"><a href="#">Zatím nejsou dostupné žádne výsledky</a></li>
    <li class="divider"></li>

    <li class="nav-header">Kandidáti</li>
    <li><a href="#">Zuzana Roithová</a></li>
    <li><a href="#">J. Dienstbier ml</a></li>
    <li><a href="#">Klára Samková</a></li>
    <li><a href="#">Martin Potůček</a></li>
    <li><a href="#">Česká pirátská strana</a></li>   
</ul>