<ul class="nav nav-list well">
    <li class="nav-header">Typy voleb</li>
    <% @elections.each do |election| %>
        <li><%= link_to election.election_type.name + ' ' + election.held.strftime('%Y'), main_app.election_path(election) %></li>
    <% end %>    
    <li class="divider"></li>

    <li class="nav-header">Statistiky</li>
    <li><a href="/map">Mapa</a></li>
    <li><a href="/stats">Číselné statistiky</a></li>
    <li class="divider"></li>
    <li class="nav-header">Výsledky</li>
    <li class="disabled"><a href="#">Zatím nejsou dostupné žádne výsledky</a></li>
</ul>