<% if @questions.any? %>
    <section id="questions-list">    
        <div id="carousel">
        <% @questions.each do |question| %>
            <div class="carousel-item">
                <a href="<%= main_app.question_path(question) %>" class="block-link">
                    <h4>
                        <%= truncate(question.title, length: 300, separator: ' ') %>
                    </h4>
                </a>
                <div class="carousel-question-links">                                  
                    <a href="<%= main_app.question_path(question) %>" class="pull-left"><span class="badge badge-info">Zobrazit otázku</span></a>                                            
                    <a href="/solve-question/<%= question.id %>/" class="pull-right"><span class="badge badge-success">Řešit otázku</span></a>                                            
                </div>
            </div>        
        <% end %>
        </div>
            
        <a class="carousel-control left" href="#" id="prev">&lsaquo;</a>
        <a class="carousel-control right" href="#" id="next">&rsaquo;</a>    
    </section>
<% end %>                            